@use './variables.scss' as *;

:root {
  --rw-list-color: var(--rw-widget-color);
  --rw-list-hover-bg: var(--rw-widget-hover-bg);
  --rw-list-hover-border-color: var(--rw-widget-hover-border-color);
  --rw-list-hover-color: var(--rw-widget-hover-color);
  --rw-list-selected-bg: #007bff;
  --rw-list-selected-border-color: #007bff;
  --rw-list-selected-color: #fff;
  --rw-list-disabled-bg: transparent;
  --rw-list-disabled-border-color: transparent;
  --rw-list-disabled-color: var(--rw-gray-300);
  --rw-list-option-muted-color: var(--rw-gray-400);
  --rw-list-option-create-bg: var(--rw-widget-bg);
  --rw-list-optgroup-color: null;
}

$font-size: $widget-font-size !default;
$padding-y: 0.5em !default;
$option-padding-y: 0.25em !default;
$option-padding-x: 1.5em !default;
$optgroup-font-weight: bold !default;

@mixin List() {
  .rw-list {
    // outline: 0;
    font-size: $font-size;
    overflow-x: visible;
    overflow-y: auto;
    padding-top: $padding-y;
    padding-bottom: $padding-y;

    &:focus {
      outline: none;
    }
  }

  .rw-list-option {
    user-select: none;
    color: var(--rw-list-color);
    cursor: pointer;
    border: 1px solid transparent;
    background-clip: $widget-background-clip;

    &:hover,
    [data-intent='keyboard'] &.rw-state-focus:not(.rw-state-selected) {
      background-color: var(--rw-list-hover-bg);
      border-color: var(--rw-list-hover-border-color);
      color: var(--rw-list-hover-color);
    }

    &.rw-state-selected {
      background-color: var(--rw-list-selected-bg);
      border-color: var(--rw-list-selected-border-color);
      color: var(--rw-list-selected-color);
    }

    &.rw-state-disabled {
      cursor: not-allowed; // required to override the cursor above
      background-color: var(--rw-list-disabled-bg);
      border-color: var(--rw-list-disabled-border-color);
      color: var(--rw-list-disabled-color);
    }
  }

  .rw-list-empty,
  .rw-list-option,
  .rw-list-optgroup {
    padding: $option-padding-y $option-padding-x;
    outline: none;
  }

  .rw-list-empty {
    text-align: center;
    color: var(--rw-list-option-muted-color);
  }

  .rw-list-optgroup {
    color: var(--rw-list-optgroup-color);
    font-weight: $optgroup-font-weight;
    padding-top: 7px;
  }

  .rw-list-option-create {
    @extend .rw-list-option;

    display: block;
    font-size: $font-size;
    padding: $option-padding-y $option-padding-x;
  }
}
