$components: (
  'Listbox',
  'DropdownList',
  'Combobox',
  'Autocomplete',
  'Multiselect',
  'DatePicker',
  'Calendar',
  'TimeInput',
  'NumberPicker'
) !default;

$widget-font-weight: null !default; // TODO
$widget-font-size: 1em !default;
$widget-font-family: inherit !default;
$widget-border-radius: 4px !default;
$widget-focus-width: 3px !default;
$widget-focus-box-shadow: 0 0 0 $widget-focus-width var(--rw-widget-focus-color) !default;
$widget-focus-transition: box-shadow 0.15s ease-in-out !default;
$widget-background-clip: padding-box !default;
$picker-btn-align-items: null !default; // TD
$picker-btn-justify-content: null !default; // TD
$picker-btn-padding-left: null !default;
$picker-btn-padding-right: null !default;
$input-height: 38px !default; // 2.5em is good for 16px roots
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !default;
$input-padding-x: 0.857em !default;
$input-border-width: 1px !default;
$input-border-radius: $widget-border-radius !default;
$input-addon-width: 1.9em !default;

:root {
  --rw-widget-color: #212529;
  --rw-widget-border-color: #ccc;
  --rw-widget-bg: #fff;
  --rw-widget-disabled-bg: var(--rw-gray-200);
  --rw-widget-hover-bg: var(--rw-gray-200);
  --rw-widget-hover-border-color: var(--rw-widget-hover-bg);
  --rw-widget-hover-color: null;
  --rw-widget-focus-color: rgba(0, 123, 255, 0.25);
  --rw-picker-btn-color: var(--rw-widget-color);
  --rw-picker-btn-border-color: null;
  --rw-picker-btn-bg: null;
  --rw-picker-btn-disabled-bg: var(--rw-widget-disabled-bg);
  --rw-picker-btn-hover-color: null;
  --rw-picker-btn-hover-border-color: null;
  --rw-picker-btn-hover-bg: var(--rw-widget-hover-bg);
  --rw-picker-btn-active-color: null;
  --rw-picker-btn-active-border-color: null;
  --rw-picker-btn-active-bg: var(--rw-gray-300);
  --rw-input-color: var(--rw-gray-700);
  --rw-input-caret-color: null;
  --rw-input-bg: var(--rw-widget-bg);
  --rw-input-placeholder-color: #999;
  --rw-input-border-color: var(--rw-widget-border-color);
  --rw-input-disabled-bg: var(--rw-widget-disabled-bg);
  --rw-input-disabled-border-color: null;
  --rw-input-disabled-color: null;
  --rw-input-disabled-placeholder-color: #999;
  --rw-input-focus-bg: null;
  --rw-input-focus-border-color: #80bdff;
  --rw-input-focus-color: null;
  --rw-input-autofill-bg: rgb(232, 240, 254);
  --rw-input-autofill-color: rgb(0, 0, 0);
  --rw-input-addon-border-color: var(--rw-input-border-color);
  --rw-gray-100: #f8f9fa;
  --rw-gray-200: #e9ecef;
  --rw-gray-300: #dee2e6;
  --rw-gray-400: #ced4da;
  --rw-gray-500: #adb5bd;
  --rw-gray-600: #6c757d;
  --rw-gray-700: #495057;
  --rw-gray-800: #343a40;
  --rw-gray-900: #212529;
}
